body {
  background-image: url("/public/images/bx.png");
}

h1 {
  font-family: $font-text1;
  color: $color2;
  padding-left: 3%;
}

img {
  padding-top: 5%;
  width: 30%;
  height: 20rem;
  //box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); //ombrage blanche
}

p {
  font-family: $font-text1;
  font-size: 4rem;
  text-shadow: 2px 2px 2px black;
  color: white;
  opacity: 4;
}

.welcome {
  display: flex;
  justify-content: space-evenly; /* Pour séparer les éléments sur l'axe horizontal */
}

img {
  align-self: flex-start; /* Pour aligner l'image en haut */
}

.cards {
  align-self: flex-end; /* Pour aligner les cartes en bas */
  display: flex;
  flex-direction: column;
}



