
body {
  background-image: url("/public/images/bx.jpg");
}

h1 {
  font-family: $font-text1;
  color: $color2;
  padding-left: 3%;
}

img {
  padding-top: 5%;
  width: 30%;
  height: 20rem;
}



.container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly; // Pour séparer les éléments sur l'axe horizontal *!
}

img {
  align-self: flex-start; // Pour aligner l'image en haut
}

.cards {
  align-self: flex-end; // Pour aligner les cartes en bas
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {

img {
    display: none;
  }

}


