$color1: #59CC4F;
$color2: #FFFFFF;
$color3: #000000;
$color-dégradé1: #D3B873;
$color-dégradé2: #FFE7A8;
$color5: #559FEA;
$color6: #6F59A0;
$color7: #DEDEDE;

$font-text1: Tony Line Personal;
$size-h1: 100rem;
$size-h2: 30rem;
$font-text2: Helvetica;
$size: 25rem;


.logo {
  color: $color5;
  font-family: $font-text1;
}