{% extends 'base.html.twig' %}

{% block title %}TREND{% endblock %}

{% block body %}
    <div class="my-card">
    <div class="logo">
        <p>TREND</p>
    </div>
    </div>
    <div class="icone">
        <p>TREND</p>
    </div>
    <div class="titre">
        <p>TITRE</p>
    </div>
    <div class="sous-titre">
        <p>TITRE</p>
    </div>
    <div class="police">
        <p>ABCD</p>
    </div>
    <div class="icon-style">
    <i class="fa-solid fa-user-group"></i> <i class="fa-regular fa-comment-dots"></i> <i class="fa-regular fa-bell"></i>
    <i class="fa-solid fa-gear"></i> <i class="fa-solid fa-user" style="color: #000000;"></i> <i class="fa-solid fa-heart" style="color: #000000;"></i>
    <i class="fa-solid fa-star" style="color: #000000;"></i> <i class="fa-solid fa-lock" style="color: #000000;"></i> <i class="fa-solid fa-gear" style="color: #000000;"></i>
    <i class="fa-solid fa-circle-question" style="color: #000000;"></i> <i class="fa-regular fa-heart" style="color: #e40c0c;"></i>
    <i class="fa-solid fa-gamepad" style="color: #B197FC;"></i> <i class="fa-solid fa-music" style="color: #559fea;"></i>
    <i class="fa-solid fa-film" style="color: #59cc4f;"></i> <i class="fa-solid fa-utensils" style="color: #000000;"></i>
    </div>
    <div class="user">
    <i class="fa-solid fa-dice" style="color: #6f59a0;"></i>
        <div class="circle"></div>
        <div class="circle"></div>
        <i class="fa-solid fa-envelope-circle-check" style="color: #559fea;"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="circle-vertical"></div>
    </div>
    <div class="card-user">
        <div class="user">
        <i class="fa-solid fa-user" style="color: #000000;"></i>
        </div>
    </div>
    <label class="switch">
        <input type="checkbox"/>
        <span></span>
    </label>
    <div class="little-cards"> </div>
    <div class="cards"> </div>
    <div class="mids-cards"> </div>
    <div class="big-cards"> </div>

{% endblock %}