{% extends 'base.html.twig' %}

{% block title %}Makesense{% endblock %}

{% block body %}
    <div class="logo">
        <p>TREND</p>
    </div>
    <div class="icone">
        <p>TREND</p>
    </div>
    <div class="titre">
        <p>TITRE</p>
    </div>
    <div class="sous-titre">
        <p>TITRE</p>
    </div>
    <div class="police">
        <p>ABCD</p>
    </div>

    <label class="switch">
        <input type="checkbox"/>
        <span></span>
    </label>

{% endblock %}